/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

$td-enable-google-fonts: true;

.td-navbar .navbar-brand svg {
    width: 50px;
    fill: #000;
}
